body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #dc6b29;
    color: white;
    padding: 10px 2vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 10vh;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.date-range input {
    padding: 0.5rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 5px;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    background-color: #e0e0e0;
    width: 20%;
    padding: 1rem;
}

.nav-item, .busiest-days, .sales-performance {
    margin-bottom: 2rem;
    background-color: #ffac0e;
    border-radius: 5px;
    text-align: center;
}

.nav-item h3, .busiest-days h3, .sales-performance h3 {
    background-color: #dc6b29;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.dashboard {
    flex: 1;
    padding: 1rem;
    overflow-y: scroll;
}

.metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.metric {
    background-color: #ffac0e;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metric h4 {
    margin: 0 0 0.5rem;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

canvas {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width : 100%;
    height : 150px;
    max-width : 100;
}

/* Footer Styling */
body footer {
    background-color: #ffac0e;
    color: white;
    padding: 20px 2vw;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

body footer p {
    margin: 5px 0;
}

body footer a {
    color: var(--merah);
    text-decoration: none;
    transition: color 0.3s;
}

body footer a:hover {
    color: #FF4500;
}

body footer .social-icons {
    margin: 10px 0;
}

body footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
}

body footer .social-icons a.facebook {
    background-image: url('https://image.flaticon.com/icons/svg/733/733547.svg');
}

body footer .social-icons a.twitter {
    background-image: url('https://image.flaticon.com/icons/svg/733/733579.svg');
}

body footer .social-icons a.instagram {
    background-image: url('https://image.flaticon.com/icons/svg/733/733558.svg');
}

body footer .social-icons a.linkedin {
    background-image: url('https://image.flaticon.com/icons/svg/733/733561.svg');
}


